ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
    font-family: 'Secular One', sans-serif;
    font-size: 25px;
}

li {
    float: left;
}

li a {
    display: block;
    color: #D86161;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.main_div{
    margin-bottom: 20px;
    margin-top: 100px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.img2 {
    margin-top: 80px;
    float: right;
    margin-right: 160px;
}

.img3 {
    margin-top: 80px;
    float: left;
    margin-left: 160px;
}

.img4 {
    margin-top: 80px;
    float: right;
    margin-right: 160px;
}

.Our_projects{
    text-align: left;
    margin-left: 100px;
    padding: 200px;
    font-family: 'Secular One', sans-serif;
    font-size: 56px;
    color: #D86161;
    margin-bottom: 20px;
    margin-top: 100px;
}

#Videos{
    padding-top: 50px;
    text-align: center;
    font-family: 'Secular One', sans-serif;
    color: #111111;
    font-size: 108px;
}

#OurCopyright{
    padding-top: 5%;
    text-align: center;
    font-family: 'Secular One', sans-serif;
    color: #111111;
    font-size: 500%;
}

.videoplayer{
    background-color: #c9e6ff;
}

.Copyright{
    background-color: lightpink;
    height: 1200px;
    position: relative;
    text-align: center;
    color: white;
}

.name1{
    padding-right: 8%;
    text-align: center;
    font-family: 'Secular One', sans-serif;
    font-size: 300%;
    color: #ffffff;
}

.name2{
    padding-right: 8%;
    text-align: center;
    font-family: 'Secular One', sans-serif;
    font-size: 300%;
    color: #ffffff;
}

#AreYou{
    text-align: center;
    font-family: 'Secular One', sans-serif;
    font-size: 64px;
    color: #D86161;
}

#AreYou2{
    text-align: center;
    font-family: 'Secular One', sans-serif;
    font-size: 56px;
    color: #D86161;
}
